 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1110px) {
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }
	@media only screen and (max-width : 820px) {

	}

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		.col-two,
		.btn {
			width: 100%;	
		}
		tr .product-price,
		section#mrs .left:before, 
		section#application .right:before {
			display: none;
		}
		section#mrs p,
		section#application p {
			margin: 30px 0 !important;
		}
		section#application {
			padding-bottom: 20px;
		}
		section#mrs {
			padding-top: 20px;
		}
		section#feature .col-size-4 {
		  padding-top: 40px;
		  padding-bottom: 40px;
		}
		section#product_sec .product_sec_img h1 {
			position: initial;
			margin-top: 0;
			  margin-bottom: 50px;
		}
		footer section#footer-nav {
			height: auto;
			padding: 10px 0;
		}
		footer section#footer-nav nav ul li {
			float: none;	
		}
		footer section#footer-nav nav ul li a {
			  padding: 5px;
  				text-align: center;	
		}
		section#product-bottom .container {
			height: auto;
		}
		.related-product-txt {
			margin-bottom: 200px;
			text-align: center;
			font-size: 65px;
			position: initial;	
		}
		.related-product-txt span {
			display: initial;
		}
		.metaslider .caption-wrap {
			font-size: 32px;
		}
		

	}
	
	@media only screen and (max-width : 760px) {
		.images img {
		  width: 100%;
		  height: auto;
		}
		h1.product_title.entry-title:after {
			margin-left: 0;	
		}
		.cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator, .cart-collaterals .cross-sells,
		.col2-set .col-1,
		.col2-set .col-2 {
			width: 100%;
		}
	}
	  /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 600px) {
		
		section#product_sec .product_sec_img h1 span {
			font-size: 60px;	
		}
		footer section#copy .copyright, footer section#copy .sbm {
			margin-top: 23px;
			text-align: center;	
		}
		
		footer section#copy a {
			float: none;
		}
		footer section#footer-nav nav ul,
		section#sub-nav nav ul{
			margin: 0 -40px;
		}
		section#sub-nav nav ul li {
			float: none;
			width: 100%;	
		}
		section#sub-nav nav ul li a {
			padding: 9px 0;
		}
		section#product_sec .product_sec_img {
			min-height: auto;
			padding-bottom: 30px;
		}
		tr .product-thumbnail {
			display: none;
		}
		.woocommerce table thead th {
			padding: 5px;	
		}
		
		.woocommerce-message a.button {
		  width: 100%;
		}
		.metaslider .caption-wrap {
			font-size: 22px;
		}
			}
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
		tr .product-quantity {
		  display: none;
		}
		section#product_sec .product_sec_img h1 span {
			font-size: 40px;
		}
		.images {
			margin: 0 -40px;
		}
		h1.product_title.entry-title,
		h1.product_title.entry-title:before,
		h1.product_title.entry-title:after {
			font-size: 30px;
			margin-top: 0;
		}
		.related-product-txt, .related-product-txt span { font-size: 40px; }
		.metaslider .caption-wrap {
			font-size: 14px;
		}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }