/*
Theme Name: Spicy Brocoli Base Theme
Theme URI: http://spicybroccoli.com
Description: Spicy Broccoli template for WordPress sites. Good for you company's health!
Author: Spicy Broccoli Media
Author URI: http://spicybroccoli.com/
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	/*vertical-align: baseline;*/
}
a {
	text-decoration: none;	
	color: #473a43;
}
p {
	font-weight: 300;
}
body {
	font-family: 'Roboto', sans-serif;
	line-height: 23px;;
	color: #473a43;
	font-size: 16px;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/* =Layout
-------------------------------------------------------------- */

.container {
	margin: 0 auto;
	padding: 0 40px;
	overflow: auto;
}

.row {
	margin-right: -40px;
	margin-left: -40px;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.col-two {
	width: 50%;
	float: left;
	position:relative;
}

.col-five, .col-size-1, .col-size-2, .col-size-3, .col-size-4, .col-size-5, .col-size-6, .col-size-7, .col-size-8, .col-size-9, .col-size-10, .col-size-11, .col-size-12, .col-five-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-five, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	position: relative;
	min-height: 1px;
	padding-right: 40px;
	padding-left: 40px;
	float: left;
}
.col-sm-12 {
	width: 100%;
}
.col-sm-11 {
	width: 91.66666667%;
}
.col-sm-10 {
	width: 83.33333333%;
}
.col-sm-9 {
	width: 75%;
}
.col-sm-8 {
	width: 66.66666667%;
}
.col-sm-7 {
	width: 58.33333333%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-5 {
	width: 41.66666667%;
}
.col-sm-4 {
	width: 33.33333333%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-2 {
	width: 16.66666667%;
}
.col-sm-1 {
	width: 8.33333333%;
}
.col-five-sm {
	width: 20%;
}
.col-off-pad {
	padding: 0 !important;
}
.col-five, .col-size-1, .col-size-2, .col-size-3, .col-size-4, .col-size-5, .col-size-6, .col-size-7, .col-size-8, .col-size-9, .col-size-10, .col-size-11, .col-size-12 {
	width: 100%;
}

@media (min-width: 480px) {
	.col-five, .col-size-1, .col-size-2, .col-size-3, .col-size-4, .col-size-5, .col-size-6, .col-size-7, .col-size-8, .col-size-9, .col-size-10, .col-size-11, .col-size-12 {
		width: 100%;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-11 {
		width: 91.66666667%;
	}
	.col-md-10 {
		width: 83.33333333%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-7 {
		width: 58.33333333%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-4 {
		width: 33.33333333%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-2 {
		width: 16.66666667%;
	}
	.col-md-1 {
		width: 8.33333333%;
	}
	.col-five-md {
		width: 20%;
	}
	.hide-md {
		display: none;
	}
}

@media (min-width: 768px) {
	.col-size-12 {
		width: 100%;
	}
	.col-size-11 {
		width: 91.66666667%;
	}
	.col-size-10 {
		width: 83.33333333%;
	}
	.col-size-9 {
		width: 75%;
	}
	.col-size-8 {
		width: 66.66666667%;
	}
	.col-size-7 {
		width: 58.33333333%;
	}
	.col-size-6 {
		width: 50%;
	}
	.col-size-5 {
		width: 41.66666667%;
	}
	.col-size-4 {
		width: 33.33333333%;
	}
	.col-size-3 {
		width: 25%;
	}
	.col-size-2 {
		width: 16.66666667%;
	}
	.col-size-1 {
		width: 8.33333333%;
	}
	.col-five {
		width: 20%;
	}
}

@media (max-width: 480px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.hidden-md {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.hidden-size {
		display: none !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.container {
		width: 100%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.container {
		width: 1000px;
	}
	.hidden-large {
		display: none !important;
	}
}

/* LAYOUT */

header {
	background: url(images/bg/bg_header.jpg) repeat-x #e6e6e6;	
}
header .container {
	height: 120px;
}
header #logo img {
	margin-top: 28px;	
}

/* SECTION SUB-NAV*/
section#sub-nav {
	background: #f2f2f2;	
}
section#sub-nav nav ul li {
	float: left;
	width: 20%;
	border-right: 2px solid #fff;
}
section#sub-nav nav ul li:last-child {
	border-right: 0;
}
section#sub-nav nav ul li a{
	display: block;
	text-align: center;
	padding: 32px 0;
}
a {
	-webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
section#sub-nav nav ul li a:hover{
	background-color: #7caccd;
	color: #fff;
}
/* END SECTION SUB-NAV */
/* SECTION SLIDER*/
section#slider{
	overflow: hidden;
}
/* END SECTION SLIDER */
/* SECTION HERO*/
section#hero{
}
/* END SECTION HERO */
/* SECTION MRS & APPLICATION */
section#mrs, section#application{
	background-color: #e9e5e5;
}
section#mrs .left:before, section#application .right:before {
	position: absolute;
	content: '';
	top: 50%;
	margin-top: -25px;
	border-top: solid 25px transparent !important;
	border-bottom: solid 25px transparent !important;
}
section#mrs .left:before {
	right: 0;
	border-right: solid 25px #e9e5e5;	
}
section#mrs .right {
	padding:  80px 0px 0px 80px;
}
section#application .left {
	padding:  80px 80px 0px 0px;
}
section#application .left p, section#mrs .right p {
	margin-bottom: 15px;	
}

section#application .right:before {
	left: 0;
	border-left: solid 25px #e9e5e5; 
}
section#mrs a {
	color: #68b754;
	font-weight: bold;
}
section#application a {
	color: #dab648;
	font-weight: bold;
}
/* END SECTION MRS & APPLICATION  */
/* SECTION FEATURE*/
section#feature{
	background-color: #42363f;
	color: #fff;
}
section#feature h2, 
section#product_sec h2, 
section#product_sec h3,
section#product_sec h4,
section#product_sec h5,
section#product-bottom h2,
section#product-bottom h3,
section#product-features h2,
section#product-features h3,
section#product-features h4,
section#product-features h5,
.woocommerce h2,
.woocommerce h3,
.woocommerce h4,
.woocommerce h5,
.woocommerce h6,
.woocommerce h1 {
	font-size: 21px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 700;
}
section#feature .col-size-4{
	padding-top: 80px;
	padding-bottom: 80px;
}
section#feature .center {
	background: #473a43;
}
section#feature .center a {
	color: #cdcd39;
}
section#feature a {
	color: #68b754;
	font-weight: bold;
}

/* END SECTION FEATURE*/
/* SECTION FOOTER-NAV*/
footer section#footer-nav{
	height: 80px;
	background: #978f93;
}
footer section#footer-nav nav ul li{
	float: left;
}
footer section#footer-nav nav ul li a {
	color: #fff;
	display: block;
	padding: 29px 31px;;
}
footer section#footer-nav nav ul li a:hover,
footer section#footer-nav nav ul li.current-menu-item a,
footer section#footer-nav nav ul li.current_page_item a {
  background-color: #999;
}
/* END SECTION FOOTER-NAV */
/* SECTION COPY*/
footer section#copy{
	height: 120px;
	background: #8f888b;
	color: #fff;
}
footer section#copy a{
	color: #fff;
	float: right;
}
footer section#copy .copyright, footer section#copy .sbm{
	  margin-top: 50px;
}
/* END SECTION COPY */
/* SECTION PRODUCT_SEC */
section#product_sec .container {
	position:relative;
}
section#product_sec .product_sec_details {
	margin: 80px 0;	
}
section#product_sec .product_sec_details p {
	margin-bottom: 20px;	
}
section#product_sec .product_sec_img h1{
	position: absolute;
	color: #fff;
	font-size: 19px;
	top: 0;
	right: 60px;
	margin-top: 75px;
	font-weight: 600;
}
section#product_sec .product_sec_img h1 span{
	font-size:80px;
	text-transform: uppercase;
	display: block;
	margin-top: 20px;
	font-weight:100;
	  margin-left: -7px;
}

section#product_sec .product_sec_img {
	min-height: 520px;
	background: url(images/bg/bg_product.jpg) #292229 repeat-x bottom;
	position:relative;
	padding-top: 60px;
}

section#product_sec .product_sec_img:after {
	position: absolute;
	content: '';
	left: 50%;
	margin-left: -25px;
	bottom: 0;
	border-bottom: solid 25px #fff;	
	border-left: solid 25px transparent !important;
	border-right: solid 25px transparent !important;
}
/* END SECTION PRODUCT_SEC */
/* BTNS */
.btn,
.button {
	padding: 20px 60px;
	color: #fff;
	display: block;
	text-align: center;
	  border: 0;
}
.actions .button {
	  padding: 8px 30px;
  display: initial;
  border: 0;
  cursor: pointer;
}
.btn {
	font-size: 21px;
	width: 70%;
}
.button,
.btn.btn-black {
	background: #473a43;
}
.btn.btn-black:hover {
	background-color: #666;	
}
.btn.btn-green {
	background-color: #8fab3f;	
}
.btn.btn-green:hover {
	background-color: #718631;	
}
/* END BTNS */
/* ARTICLE */
article .header h1 {
	display: block;
	font-size: 45px;
	margin-top: 80px;
	margin-bottom: 50px;
	text-align: center;
}
article .header h2 {
	margin: 0 200px;
	margin-bottom: 50px;
	font-size: 24px;
	text-align:center
}
article h2, article h3, article h4, article h5  {
	margin-bottom: 15px;
}
article p ,
section#product-bottom p{
	margin-bottom: 25px;	
}
/* END ARTICLE */

/* VARIATIONS COLOR PANEL */
ul.variations_colors_panel {
	overflow:auto;
	margin-bottom: 20px;
}
ul.variations_colors_panel li{
	float: left;
	  width: 46px;
  height: 50px;
}
ul.variations_colors_panel li a{
	display:block;
	padding: 18px;
	cursor: pointer;
	  border: 5px solid #fff;
}
ul.variations_colors_panel li a.selected,
ul.variations_colors_panel li a:hover{
	  border: 5px solid rgba(0,0,0,0.2);
	  margin: 0;
}

ul.variations_colors_panel li a.kentucky-green { background: #43b02a; }
ul.variations_colors_panel li a.havana-orange { background: #FE7D31; }
ul.variations_colors_panel li a.boston-mist { background: #b2b4b2; }
ul.variations_colors_panel li a.bali-blue { background: #00a3e0; }
ul.variations_colors_panel li a.arctic-white { background: #F0f0f0; }



ul#monogram_color li a { background:url(images/sprite_monogram_colors.jpg) no-repeat; }

ul#monogram_color li a.red { background-position: -5px -5px; }
ul#monogram_color li a.grey { background-position: -55px -5px; }
ul#monogram_color li a.black { background-position: -105px -5px; }
ul#monogram_color li a.white { background-position: -155px -5px; }
ul#monogram_color li a.blue { background-position: -210px -5px; }
ul#monogram_color li a.golden { background-position: -255px -5px; }
ul#monogram_color li a.pink { background-position: -310px -5px; }

ul.variations_colors_panel li a.fonte-01{
	background: url(images/bg_font_01.jpg) no-repeat;	
}

/* END VARIATIONS COLOR PANEL */
/* SECTION PRODUCT PAGE */
section#product-page{
	background: url(images/bg/bg_product_page.jpg) top repeat-x;
	padding-bottom: 40px;
}
h1.product_title.entry-title {
	color: #fff;
	font-size: 70px;
	position:absolute;
	top: 30px;
	  line-height: 45px;
	  text-transform: uppercase;
	  font-weight: 200;
	  margin-top: 30px;
}
h1.product_title.entry-title:before {
	content: 'Buy your';
	font-size: 30px;
	display: block;	
	font-weight: 600;
}
h1.product_title.entry-title:after {
	content: 'Now';
	font-size: 60px;
	display: block;
	margin-left: 220px;
	margin-top: 10px;
	font-weight: 500;
}
.images {
	text-align: right;
	position: relative;
	height: 480px;
}
.images img {
	position:absolute;
	bottom: 0;
	right: 0;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
h1.product_title.entry-title {
	font-size: 46px;
}
body.postid-8 .images img {
	-moz-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
	filter: none;
	-ms-filter: none;
}
body.postid-8 section#product-page {
	background-position: 0 -90px;
}
/* END SECTION PRODUCT PAGE */
/* SECTION PRODUCT BOTTOM */
section#product-bottom {
	background: #f1f1f1;
	padding-top: 60px;
}
section#product-bottom .container {
	height: 260px;
	overflow: hidden;
}
.related-product-txt {
	font-size: 90px;
	text-transform: uppercase;
	z-index: 2;
	position: absolute;
	right: 13%;
	line-height: 70px;
	text-align: right;
	font-weight: bolder;
	color: #8fab3f;
}
.related-product-txt span{
	font-size: 65px;
	display: block;
	font-weight: 300;
}
.related-product-image {
  position: absolute;
  right: 15%;
  bottom: -120px;
  z-index:3;
}

/* END SECTION PRODUCT BOTTOM */
.metaslider .flexslider { margin: 0 !important; }

.metaslider .caption-wrap {
	font-family: 'Roboto', sans-serif;
  bottom: 15% !important;
  text-align: center;
  opacity: 1 !important;
  background: none !important;
  font-size: 42px;
  font-weight: bold;
}

input[name="monogram-letter-type"] {
  text-transform: uppercase;
  display: block;
  background-color: #e9e5e5;
  border: 0;
  margin: 0;
  font-size: 30px;
  width: 51px;
  padding: 6px;
  text-align: center;
}
.added {
  color: #CF0000;
}

#product-features input#checkbox {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  cursor: pointer;
}
.single_variation_wrap {
	display: block !important;
}
form.variations_form.cart,
.summary.entry-summary .product_meta,
[itemprop="description"] {
	display: none !important;	
}

#product-features button#qtyplus,
#product-features button#qtyminus {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #473a43;
  border: 0;
  color: #fff;
  cursor: pointer;
}
#product-features button#qtyplus:hover,
#product-features button#qtyminus:hover {
  background-color: #666;
}
#product-features input[type="number"] {
  margin: -3px;
  border: 0;
  background-color: #e9e5e5;
  height: 30px;
  text-align: center;
  width: 40px;
}
div.monogram-over {
  position: relative;
}
div.monogram-over.hidden:before {
	height: 0px;
    }
div.monogram-over:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.85);
}
div.monogram-over,
.btn,
ul.variations_colors_panel li a,
div.monogram-over:before,
#product-features button#qtyplus,
#product-features button#qtyminus {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
/* CART TABLE */
.woocommerce table {
	border-spacing: 0;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 2px 0 white;
  -webkit-box-shadow: 0 1px 2px 0 white;
  border-collapse: separate;
  margin-bottom: 1.5em;
}

.woocommerce table thead {
  background-color: #e1e1e1;
}
	.woocommerce table thead th:first-child {
	  border-bottom-left-radius: 4px;
	  border-top-left-radius: 4px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}
	.woocommerce table thead th {
	  background: #fafafa;
	  border-right: 1px solid #eee;
	  border-bottom: 1px solid #eee;
	  text-transform: uppercase;
	  padding: 1.387em;
	  vertical-align: middle;
	}
	.woocommerce table thead th:last-child {
	  border-bottom-right-radius: 4px;
	  border-top-right-radius: 4px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}
.woocommerce table td {
  vertical-align: middle;
}

.woocommerce table td, .woocommerce table th {
  padding: .857em 1.387em;
  text-align: left;
  border-right: 1px dotted #eee;
  vertical-align: top;
}
.woocommerce table td.actions .coupon {
  width: 50%;
  float: left;
}
.woocommerce table [name="update_cart"] {
	float: right;
}

.woocommerce table tbody td {
  border-bottom: 1px solid #eee;
}
.woocommerce table input.input-text.qty.text {
	width: 40px;	
}
.woocommerce table img {
	width: 100%;
	height: auto;
}
.woocommerce table tbody th {
  background: #fafafa;
  border-bottom: 1px solid #eee;
}

.cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator, .cart-collaterals .cross-sells {
  width: 48%;
  float: right;
}

section#page {
  margin-bottom: 30px;
}

/* CART TABLE */
/* CHECKOUT PROCESS */
.col2-set .col-1 {
  width: 49%;
  float: left;
}
.col2-set .col-2 {
  width: 49%;
  float: right;
}
.form-row label {
  display: block;
}
.form-row {
  width: 50%;
  float: left;
  padding: 5px;
}
.form-row-wide {
  float: left;
  width: 100%;
  clear: both;
}
.form-row .input-text, .form-row select, .form-row textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    height: 27px;
}
.form-row.notes {
	width: 100%
}
.form-row textarea {
	height: 150px !important;	
}
.woocommerce_message, .woocommerce_info, .woocommerce_error, .woocommerce-message, .woocommerce-info, .woocommerce-error {
    padding: 10px 10px 10px 25px !important;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 25px !important;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.08);
}
#product-page .woocommerce_message, 
#product-page .woocommerce_info, 
#product-page .woocommerce_error, 
#product-page .woocommerce-message, 
#product-page .woocommerce-info, 
#product-page .woocommerce-error {
	background:#FFF;
	font-weight: bolder;
	margin-top: 15px;
}
.cart_item p {
	margin: 0;
}
.cart_item dd p{
	font-weight:bold;
}
tr.cart_item:hover {
  background-color: rgba(0,0,0,.02);
}

.woocommerce_message a.button {
  width: 190px;
  float: right;
  padding: 1px;
  display: block;
  font-size: 12px;
}
article form.wpcf7-form textarea, article form.wpcf7-form input {
	font-size: 20px;
	color: #464646;
	margin: 0;
	border: 1px solid #ccc;
	padding: 20px;
	background: url(images/img_contact_form_bg.png);
	width: 100%;
}
article form.wpcf7-form textarea {
	font-size: 18px;
	line-height: 24px;
}
article form.wpcf7-form input {
	height: 50px;
}
article textarea {
	height: 150px;
}
article form.wpcf7-form .col-two {
	padding: 20px;	
}
article form.wpcf7-form input[type="submit"] {
	height: auto;
	background: #473a43;
	cursor: pointer;
	color: #fff;
}
article form.wpcf7-form input[type="submit"]:hover {
	background: #666;
}

.return-to-shop a.button {
  width: 250px;
  float: right;
}
.woocommerce-message a.button {
  width: 30%;
  padding: 1px;
  float: right;
  font-size: 13px;
}
.woocommerce h2,
.woocommerce h3, 
.woocommerce h4,
.woocommerce h5,
.woocommerce h6 {
	 /*background-color: #fff;*/
}
.payment_methods li {
  border: 1px solid #eee;
  margin-bottom: 15px;
  padding: 10px;
}
.payment_methods li:hover {
	background-color: #eee;
	border-color: #ccc;
}
.payment_methods input, .payment_methods label {
	cursor: pointer;
}
article.faqs a {
  font-weight: bold;
}

article p strong {
font-weight:700;
}
